body {
  margin: 0;
}
canvas {
  width: 90%;
  height: 90%;
}
.infobox {
  z-index: 10;
  width: 400px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 5px 5px;
  padding: 5px;
}
.infobox .panels {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #ddd;
  opacity: 0.8;
  box-shadow: 1px 1px 5px #ccc;
}
.infobox .panels .hd {
  font-weight: bold;
  margin-bottom: 5px;
}

.infobox code {
  color: #ff0000;
}

.infobox .panels .score {
  font-size: 50px;
}

.infobox label {
  width: 1500px;
}
.infobox select {
  width: 170px;
}

.paused {
  width: 80px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 20px;
  position: absolute;
  z-index: 20;
  background-color: #ddd;
  opacity: 0.8;
  box-shadow: 1px 1px 3px #ccc;
  margin: 450px 700px;
  padding: 10px 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.hidden {
  display: none;
}
